* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
}

.logo-container {
    width: 30px;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

.logoSvg {
    height: 40px;
    width: 40px;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
}

.search-input {
    width: 280px;
    height: 30px;
    border-radius: 15px;
    
}

.button-loupe {
    background-color: black;
    border: none;
   cursor: pointer;
    
}

.loupe {
    font-size: 25px;
    color: rgb(217, 215, 215);
}
.loupe:hover {
    color: white;
}

.cartBox {
   padding: 5px;
   margin-right: 10px;
   cursor: pointer;

}

.cartIcon {
    font-size: 30px;
    color: rgb(217, 215, 215);
}
.cartIcon:hover {
    color: white;
}

.elements-header {
    display: flex;
    gap: 20px;
}

.loupe-header {
    height: 10px;
    width: 5px;
    
}

.title-container {
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title-container {
  background-color: black;
}

.tag-home {
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(217, 215, 215);
    text-decoration: none;
    
}
.tag-home:hover {
    color: white;
}

.tag-products {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: rgb(217, 215, 215);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3em;
    flex-direction: column;
    gap: 80px;
}

.products-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}

.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
    padding: 10px 0px;
    background-color:#dfdfdf4d;
}

.box-img-product {
     height: 250px;
     width: 250px;
}

.img-product {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    transition: .5s;
}

.img-product:hover {
     height: 260px;
     width: 260px;
     transform: scale(1.05); 
    
}

#xboxSeriesImg {
    height: 250px;
}

#ps5ProImg {
    height: 250px;
}


.details-products {
   position: relative;
   width: 100%;
   height: 100%;
   padding: 5px 5px;
   margin-top: 10px;
   background-color: rgba(217, 215, 215, 0.274);
}

.name-and-cart {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.product-title {
    font-size: 26px;
     font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(88, 86, 86);
}

.cart-box {
    display: inline-block;
    border-radius: 2px;
    height: 30px;
    width: 30px;
    
}

.cart-box :hover {
    background-color: #5b38ed;
    border: 1px solid  #5b38ed;
    border-radius: 3px;
}

.svg-product {
    height: 30px;
    width: 30px;
    border:none;
}

.price {
    display: inline-block;
    font-weight:400;
    font-size: 18px;
    margin-top:3px;
}

.description-product {
    color: rgba(0, 0, 0, .55);
    font-size: 16px;
}

footer {
    color: white;
    height: 100px;
    width: 100%;
    background-color: black;
    margin-top: 50px;
}

/* .suport-and-pag {

} */

#registered-svg {
    height: 20px;
    width: 20px;
}

.suport-box {
    color: white;
}

.box-card {
    color: white;
}

.svg-card {
    height: 30px;
    width: 30px;
}