* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    width: 100vw;
    height: 80px;
    border: solid 1px red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-container {
    height: 50px;
    width: 42px;
    background-color: black;
    border-radius: 5px;

}

.logoSvg {
    height: 50px;
    width: 46px;
}

.title-container {
    width: 100vw;
    height: 80px;
    border: solid 1px green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.products-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;

}

.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 430px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-color:#dfdfdf4d;
}

.img-product {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-size: cover;
}

.details-products {
   position: relative;
   width: 100%;
}

.name-and-cart {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.product-title {
    font-size: 28px;
}

.cart-box {
    display: inline-block;
    border-radius: 2px;
    
}

.cart-box :hover {
    background-color: rgb(167, 93, 235);
    border-radius: 1px;
}

.svg-product {
    height: 40px;
    width: 40px;
    border:none;
}


.price {
    display: inline-block;
    font-weight:600;
    font-size: 18px;
    margin-top:3px;
}

.description-product {
    color: rgba(0, 0, 0, .55);
    font-size: 16px;
}